.burger-btn{
    display: none;
    position: relative;
    z-index: 5;
    width: 40px;
    height: 40px;
    border-color: aqua;
}

.burger-btn span{
    position: absolute;
    height: 3px;
    width: 30px;
    background-color: black;
    left: 5px;
}
.burger-btn span:nth-child(1){
    transform: translateY(-10px);
}
// .burger-btn span:nth-child(2){

// }
.burger-btn span:nth-child(3){
    transform: translateY( 10px);
}

@media (max-width: 1110px){
    .burger-btn{
        display: block;
    }

    .burger-close{
        display: none;
    }

    .menu__list{
        flex-direction: column;
        position: absolute;
        background: rgb(208, 228, 95);
        opacity: 0.9;
        top: 100px;
        font-size: 50px;
        right: 60px;
        padding: 20px;
    }
}
@media (max-width: 768px){
    .menu__list{
        top: 170px;
        right: 10px;
        left: 10px;
        text-align: center;
    }
}
